* {
  margin: 0;
  padding: 0;
}
body {
  background: #000;
}
canvas {
  display: block;
  position: absolute;
}

head {
  color: white;
}

h1,
h2 {
  color: white;
  text-align: center;
  font-family: monospace;
}

.buttons-position {
  font: 16px normal;
  margin: auto;
  color: black;
  font-family: monospace;
  height: auto;
  width: auto;
  text-align: center;
  vertical-align: middle;
}

.button {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  width: 100px;
  text-align: center;
  font-family: monospace;
  font-size: 18px;
  color: white;
  background-color: purple;
  cursor: pointer;
}

.title {
  font-size: 25px;
}

.main-container {
  position: relative;
  padding-top: 0%;
  padding-left: 0%;
  padding-right: 0%;
}

.main-content {
  padding-top: 50%;
  position: relative;
  z-index: 1;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.blockquote {
  display: inline-block;
  font: 20px normal;
  color: green;
  font-family: monospace;
  background-color: rgb(108, 122, 137, 0.25);
  height: auto;
  width: auto;
  text-align: center;
  border-color: blue;
}

.textbox {
  font: 20px normal;
  color: green;
  font-family: monospace;
  background-color: transparent; /*rgb(108, 122, 137, 0.25);*/
  text-align: center;
  vertical-align: middle;
  padding-top: 20px;
  border: none;
  resize: none;
}

.copy-wrapper {
  display: inline-block;
  width: 500px;
  height: 100px;
}

.copy {
  border: none;
  margin-left: -0.5rem;
  background-color: transparent; /*rgb(108, 122, 137, 0.25);*/
  font-family: monospace;
  font-size: 20px;
  outline: none;
  color: grey;
  cursor: pointer;
  padding-right: 25px;
  vertical-align: middle;
}

.toggle {
  --width: 80px;
  --height: calc(var(--width) / 3);

  position: relative;
  display: inline-block;
  width: var(--width);
  height: var(--height);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: var(--height);
  cursor: pointer;
  margin-top: 15px;
}

.toggle input {
  display: none;
}

.toggle .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--height);
  background-color: #ccc;
  transition: all 0.4s ease-in-out;
}

.toggle .slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(var(--height));
  height: calc(var(--height));
  border-radius: calc(var(--height) / 2);
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out;
}
/*slider background color - make match with generate button*/
.toggle input:checked + .slider {
  background-color: #ad21f3;
}

.toggle input:checked + .slider::before {
  transform: translateX(calc(var(--width) - var(--height)));
}

.toggle .labels {
  position: absolute;
  top: 8px;
  margin-top: -1px;
  margin-right: 1px;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-family: Helvetica;
  transition: all 0.4s ease-in-out;
}

.toggle .labels::after {
  content: attr(data-off);
  position: absolute;
  right: 5px;
  color: #4d4d4d;
  opacity: 1;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease-in-out;
}

.toggle .labels::before {
  content: attr(data-on);
  position: absolute;
  left: 5px;
  color: #ffffff;
  opacity: 0;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
  transition: all 0.4s ease-in-out;
}

.toggle input:checked ~ .labels::after {
  opacity: 0;
}

.toggle input:checked ~ .labels::before {
  opacity: 1;
}
