@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Manrope:wght@300;500;700&display=swap');

header > .navbar {
    display: flex;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    justify-content: right;
    align-items: center;
    padding: 0 24px;
    width: 100vw;
}


.navbar > .nav-logo {
    font-size: 28px;
    color: white !important;
    width: 1fr;
    float: left;
    flex: 1;
    

}

.navbar > .nav-menu {
    display: flex;
    min-height: 70px;
    align-items: center;
    justify-content: right;
    gap: 40px;

    
}

.nav-branding {
    font-size: 2rem;
}

.nav-link {
    transition: 0.7s ease;
    color: white;
    text-decoration: none;
}


.nav-link:hover{
    color: paleturquoise;
}

.navbar > .hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display:block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}



/* * Body */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    overflow-y: hidden;
}

input {
  font-size: 16px;
  font-family: 'Helvetica';
}


.row-title{
    display: inline-flex;
    column-gap: 5px;
}

html {
    scroll-behavior: smooth;
}


h2 {
    font-family: 'DM Sans', sans-serif;
}

h3 {
    font-size: 22px;
    margin-bottom: 5px;
}

h4 {
    font-size: 16px;
}

a {
    font-family: 'DM Sans', sans-serif;
    
}

nav {
    background-color: rgba(49, 17, 67, 1);
}

p {
    font-family: 'DM Sans', sans-serif;
}

li {
    font-family: 'DM Sans', sans-serif;
    list-style: none;
    
}

ul {
    font-family: 'DM Sans', sans-serif;
    color: black;
}
body {
    background: white;

    display: flex;
    flex-direction: column;
    width: auto;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


header {
    min-height: 70px;
    width: 100vw;
}
button {
    font-family: 'DM-Sans', sans-serif !important;
}


.section-header {
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 5vw;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
}

/* * Main container */

.container {
    /* change below to 100vh to enable scroll-snap-type:  */
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    /* scroll-padding: 10vh; */
    /* scroll-padding: 35px; */
 
}

.container > section {

    min-height: 800px;
    width: 100vw;
    display: block;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
    /* scroll-margin: 2em; */
}


/* * starts intro div */

.container > .one {

    max-height: 100vh;
    min-height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    flex-direction: column;
    justify-items: center;
    order: 1;

}

.one >  .title-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1;
    grid-row-start: 1;
    grid-gap: 2px;
    height: 40vh;
    width: 100vw;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 5px;
}

.title-div > .welcome-text {
    grid-column-start: 1;
    grid-column-end: 3;
    font-family: 'Manrope';
    font-weight: 700;
    color: rgba(0, 0, 0, .7);
    font-size: 5vw;
    padding: 0px;
    text-shadow: 4px 4px 7px rgba(0, 0, 0, .3);
    text-align: center;
    height: auto;
    width: 2fr;

}

.title-div > .hand-shake {
    visibility: hidden;
    font-size: 10vw;
    margin-left: 20px;
    grid-column-start: 3;
    animation: none;
    animation-iteration-count: 3;
    height: auto;
    width: 1fr;
    text-align: center;
    margin-right: 15px;
}


.one > .sub-div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1;
    grid-gap: 2px;
    grid-row-start: 2;
    height: auto;
    width: auto;
    align-items: center;
    margin-top: -10px;

}

.sub-div > .guest-question {
    font-weight: 400;
    color: rgba(0, 0, 0, .7);;
    margin-left: 0px;
    font-family: 'DM Sans', sans-serif;
    font-size: 30px;
    margin-top: 10px;
    width: auto;
    display: none;
    transition: display 2s;
    text-align: center;
}

.sub-div > .guest-input {
    display:none;
    transition: display 2s;
    transition-timing-function: ease-in-out;
    text-align: center;
    margin-left: -18px;

}


@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.one > .colors {
    display: none;
    flex-direction: row;
    grid-row-start: 3;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    width: 85vw;
    
}


.colors > button {
    background-color: transparent;
    outline: none;
    padding: 10px;
    width: 15%;
    height: 5vh;
    font-size: 0;

}

.colors > button:hover {
    color: palegoldenrod;
    cursor: pointer;
}

.one > .big-guest {
    visibility: hidden;
    font-size: 175px;
    font-weight: 700;
    text-align: center;
    margin-top: -20px;
    grid-row-start: 4;
    font-family: 'Manrope';
    width: 99vw;
    background-image: -webkit-linear-gradient(#333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  color: #232d2d;
    
}


.guest-input > .guest-text {
    font-family: 'Helvetica';
    color: black;
    font-size: 20px;
    border: none;
    resize: none;
    margin-left: 18px;
    display: inline-block;
    background-color: rgb(108, 122, 137, 0.25);
    height: auto;
    width: auto;
    padding: 3px;

}

.enter-btn {
    color: black;
    font-family: 'Manrope';
    font-size: 20px;
    border: none;
    resize: none;
    display: inline-block;
    background-color: rgb(108, 122, 137, 0.25);
    height: auto;
    width: auto;
    padding: 3px;
}

.split {
    opacity: 0;
    transition: all 0.7s step-end;
}
  
.split.fade {
    opacity: 1;
}

.one > .done {
    visibility: hidden;
    padding: 10px;
    grid-row-start: 5;
    margin-top: -50px;
    
}
.done > button {
    font-family: 'DM-Sans', sans-serif !important;
    background-color: transparent;
    outline: none;
    padding: 10px;
    min-width: 175px;
    background-color: lightcoral;

}

.done > button:hover {
    color: palegoldenrod;
    cursor: pointer;
}




/* * Starts about div */

.container > .about {
    /* display: none; */
    align-items: center;
    justify-items: center;
    height: 100vh;
    width: 100vw;
    order: 2;

}

.about > .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space;
    height: 100vh;
    width: 100vw;
    gap: 10px;

}

.about-container > .about-header {
    text-align: center;
    order: 1;
    margin-bottom: 0px;
    height: 1fr;
    margin-top: -15px;
}

.about-container > .pp-div {
    display: flex;
    height: 1fr;
    width: auto;
    margin-top: -15px;
    padding: 10px;
    order: 2;
    border: 0px solid;
    border-radius: 100%;
    border-image-slice: 1;
    background: -webkit-linear-gradient(#000, #000, #000);
}

.pp-div> .profile-pic {
    height: auto;
    width: 160px;
    border: 0px solid;
    border-radius: 100%;
    order: 2;

}

/* .about-container > .about-t {
    flex-shrink: 0;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    text-align: center;
    font-size: 35px;
    font-family: 'DM Sans';
    text-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
    width: auto;
} */

.about-sub > .about-sub-t {
    margin-bottom: 20px;
  
}

.about-container > p {

    text-align: center;
    font-size: 18px;
    height: 1fr;
    width: 65%;
    margin-left: 30px;
    margin-right: 30px;
    order: 3;
}


.about-container > .about-boxes {
    order: 4;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    /* grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3; */
    height: auto;
    width: 75%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;


}


.about-boxes > .about-sub {
    text-align: center;
    font-family: 'DM Sans';
    padding: 20px;
    height: auto;
    width: 300px;
    border: 2px solid black;
    background-color: white;
    flex: auto;
    margin: 0 20px;
    box-shadow: 0px 0px 7px 5px rgba(0, 0, 32, 0.2);
}

.about-sub  > .about-sub-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    border: 2px solid black;
    height: 115px;
    width: auto;
    padding: 5px;
    background-color:rgba(255, 255, 255, 0.1);
}

.about-container > .about-sub1 {
    grid-column-start: 1;
    grid-row-start: 3;
}
.about-container > .about-sub2 {
    grid-column-start: 2;
    grid-row-start: 3;
}
.about-container > .about-sub3 {
    grid-column-start: 3;
    grid-row-start: 3;
}
.about-container > .about-sub4 {
    grid-column-start: 4;
    grid-row-start: 3;
}

.about-sub > .about-img {
    height: 75px;
    margin-bottom: 15px;

}


/* * Starts project div */

.container > .projects {
    /* display: none; */
    flex-direction: column;
    align-items: center;
    justify-items: center;
    height: 100vh;
    width: 100vw;
    order: 3;
}

.projects > .projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space;
    height: 100vh;
    width: 100vw;
    gap: 25px;
}

.projects-container > .project-header {
    text-align: center;
    height: auto;
    order: 1;
    margin-bottom: 1%;

}

.projects-container > p {
    order: 2;
    flex: flex-end;
    text-align: center;
    font-size: 18px;
    height: 1fr;
    width: 75%;



}
.projects-container > .project-box {
    order: 3;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    height: auto;
    width: 100vw;
    margin-top: 25px;
    box-shadow: inset 0 10px 20px 'black';

}


.project-box > .project-table {
    order: 3;
    overflow-wrap: wrap;
    text-align: center;
    height: 100%;
    min-width: 390px;
    font-family: 'DM Sans';
    padding: 15px;
    border: 1px solid black;
    background-color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1em;
    
}


 h3 {
    font-size: 18px;
}



.project-img {
    width: 25vw;
    height: auto;
    border: 1px solid black;
}


.img-container {
    grid-column-start: 2;
    margin-left: 13%;
}

/* ^ Starts contact div */

.container > .contact {
    order: 4;
}

.contact > .contact-div {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 100vh;

}

.contact-div > .contact-text {
    margin-top: -px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -20px;


}


.title-img {
    width: 500px;
    height: auto;
    border-radius: 69%;
}




@media(max-width:600px){
    
    .navbar {
        display: flex;
        grid-template-columns: 1fr 1fr;
        min-height: 70px;
        justify-content: right;
        align-items: center;
        padding: 0 24px;
        width: 100vw;
    }

    .navbar > .hamburger {
        display: inline-block;
        cursor: pointer;
    }
    
    .hamburger > .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        color: white;
    }
    

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        /* ^ Keeps navbar on screen while scrolling until a link is click */
        position: fixed;
        right: -100%;
        top: 70px;
        gap: 0;
        color: white;
        flex-direction: column;
        background-color: rgba(49, 17, 67, 1);
        width: 100%;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }
    .nav-menu.active {
        right: 0;   
    }


    
    .container {
        /* change below to 100vh to enable scroll-snap-type:  */
        display: flex;
        height: 100vh;
        width: 100vw;
        flex-direction: column;
        overflow-y: scroll;
        scroll-snap-type: y proximity;
        scroll-padding-top: 15px;
     
    }
    
    .container > section {
    
        min-height: 800px;
        width: 100vw;
        display: block;
        justify-content: center;
        align-items: center;
        scroll-snap-align: start;
        scroll-snap-stop: always;
        /* scroll-margin: 2em; */
    }
    
    
    
    /* * starts intro div */
    
    .container > .one {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        flex-direction: column;
        justify-items: center;
        height: 100vh; 
        width: 100vw;
    }

    .container > .one {
        grid-template-columns: 1;
        justify-items: center;
        height: 100vh; 
        width: 100vw;
        /* grid-template-rows:  ; */
        
    }

    .one >  .title-div {
        display: flex;
        justify-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        height: auto;
        width: auto;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 25px;
    }

    .title-div > .hand-shake {
        visibility: hidden;
        font-size: 95px;
        margin-left: 20px;
        grid-column-start: 2;
        animation: none;
        animation-iteration-count: 3;
        height: auto;
        width: 1fr;
        text-align: center;
        margin-right: 15px;
    }

    .container > .one {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        flex-direction: column;
        justify-items: center;
        height: 100vh; 
        width: 100vw;
    }
    
    .one >  .title-div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1;
        grid-row-start: 1;
        grid-gap: 2px;
        height: auto;
        width: 100vw;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 25px;
    }
    
    .title-div > .welcome-text {
        grid-column-start: 1;
        grid-column-end: 3;
        font-family: 'Manrope';
        font-weight: 700;
        color: rgba(0, 0, 0, .7);
        font-size: 35px;
        padding: 0px;
        text-shadow: 4px 4px 7px rgba(0, 0, 0, .3);
        text-align: center;
        height: auto;
        margin-left: 15px;
    
    }
    
    .title-div > .hand-shake {
        visibility: hidden;
        font-size: 95px;
        margin-left: 20px;
        grid-column-start: 3;
        animation: none;
        animation-iteration-count: 3;
        height: auto;
        width: 1fr;
        text-align: center;
        margin-right: 15px;
    }
    
    
    .one > .sub-div {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1;
        grid-gap: 2px;
        grid-row-start: 2;
        margin-top: 25px;
        height: auto;
        width: 99vw;
        align-items: center;
        margin-top: -10px;
    
    }
    
    .sub-div > .guest-question {
        font-weight: 400;
        color: rgba(0, 0, 0, .7);;
        margin-left: 0px;
        font-family: 'DM Sans', sans-serif;
        font-size: 25px;
        margin-top: 10px;
        width: auto;
        display: none;
        transition: display 2s;
        text-align: center;
    }
    
    .sub-div > .guest-input {
        display:none;
        transition: display 2s;
        transition-timing-function: ease-in-out;
        text-align: center;
        margin-left: -18px;
        font-size: 22px;
    
    }
    .one > .colors {
        display: none;
        flex-direction: row;
        grid-row-start: 3;
        justify-content: space-between;
        margin-left: 18px;
        margin-right: 18px;
        margin-top: 10px;
        width: 99vw;

        
    }
    
    
    .colors > button {
        background-color: transparent;
        outline: none;
        border: 1px solid black;
        padding: 10px;
        width: 15%;
        height: auto;
        font-family: 'DM Sans', sans-serif;
        font-size: 0;
    
    }
    
    .colors > button:hover {
        color: palegoldenrod;
        cursor: pointer;
    }
    
    .one > .big-guest {
        visibility: hidden;
        font-size: 60px;
        height: auto;
        width: 99vw;
        text-align: center;
        margin-top: -30px;
        grid-row-start: 4;
        font-family: 'Manrope';
        background-image: -webkit-linear-gradient(#333);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
    }
    
    
    .guest-input > .guest-text {
        font-family: 'Helvetica';
        color: black;
        font-size: 20px;
        border: none;
        resize: none;
        margin-left: 18px;
        display: inline-block;
        background-color: rgb(108, 122, 137, 0.25);
        height: auto;
        width: auto;
        padding: 3px;
    
    }
    
    .enter-btn {
        color: black;
        font-family: 'Manrope';
        font-size: 20px;
        border: none;
        resize: none;
        display: inline-block;
        background-color: rgb(108, 122, 137, 0.25);
        height: auto;
        width: auto;
        padding: 3px;
    }

    .about > .about-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        justify-content: space;
        height: 99vh;
        width: 100vw;
        gap: 10px;
    }

    .about-container > .about-header {
        margin-bottom: 2vh;
        font-size: 3.5vh;
    }


    .about-container > .pp-div {
        display: flex;
        height: 1fr;
        width: auto;
        padding: 3px;
        order: 2;
        border: 0px solid transparent;
        border-radius: 100%;
        border-image-slice: 1;
        background: -webkit-linear-gradient(#000, #000, #000);


    }
    
    .pp-div> .profile-pic {
        height: auto;
        max-width: 30vw;
        border: 2px solid transparent;
        border-radius: 100%;
        order: 2;
 

    
    }

    .about-container > p {
        text-align: center;
        font-size: 3vw;
        height: auto;
        width: auto;
        margin-left: 25px;
        margin-right: 25px;
        order: 3;
    }
    
    
    .about-container > .about-boxes {
        order: 4;
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100vw;
        margin-left: 20px;
        margin-right: 20px;
    
    }
    
    
    .about-boxes > .about-sub {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        align-content: center;
        justify-items: center;
        text-align: center;
        font-family: 'DM Sans';
        height: 15vh;
        border: 2px solid black;
        background-color: white;
        margin-bottom: 10px;
        box-shadow: 0px 0px 7px 5px rgba(0, 0, 32, 0.2);
    }
    
    .about-sub  > .about-sub-box {
        display: flex;
        grid-column-start: 2;
        grid-row-start: 2;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: 2px solid black;
        height: 8vh;
        width: 100px;
        padding: 10px;
        background-color:rgba(255, 255, 255, 0.1);
        font-size: 1vh;
        margin-top: 5%;
        color: white;
    }

    .about-sub > .about-sub-t {
        font-size: 1em;
        align-self: end;
        width: 100%;
        height: 0px;
        grid-column-start: 1;
        grid-column-end: 3;
        margin-top: 3%;
    
    }
    
    .about-sub > .about-img {
        height: 8vh;
        width: auto;
        margin-top: 3%;
        grid-row-start: 2;
        grid-column-start: 1;
        
    
    }
    .about-container > .about-sub1 {
        grid-column-start: 1;
        grid-row-start: 3;
    }
    .about-container > .about-sub2 {
        grid-column-start: 2;
        grid-row-start: 3;
    }
    .about-container > .about-sub3 {
        grid-column-start: 3;
        grid-row-start: 3;
    }
    .about-container > .about-sub4 {
        grid-column-start: 4;
        grid-row-start: 3;
    }
    
    .navbar > .nav-logo {
        font-size: 6vw;
        color: white !important;
        width: 1fr;
        float: left;
        flex: 1;
    }

    .container > .projects {
        /* display: none; */
        flex-direction: column;
        align-items: center;
        justify-items: center;
        height: 100vh;
        width: 99vw;
    }
    
    .projects > .projects-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        gap: 50px;
        height: 100vh;
        width: 100vw;
    }
    
    .projects-container > .project-header {
        text-align: center;
        order: 1;
        font-size: 3.5vh;
        margin-top: 20px;
    
    }
    
    .projects-container > p {
        order: 2;
        text-align: center;
        font-size: 3.5vw;
        margin-left: 5%;
        margin-right: 5%;
        width: 85vw;
    }
    
    .projects-container > .project-box {
        order: 3;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto;
        height: auto;
        width: 100vw;
        box-shadow: inset 0 10px 20px 'black';
    
    }
    
    .project-box > .project-table {
        display: flex;
        order: 1;
        flex-direction: column;
        text-align: center;
        height: 375px;
        min-width: 350px;
        font-family: 'DM Sans';
        border: 1px solid black;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
    }

    h3 {
        font-size: 17px;
        margin-top: -5px;
    }

    h4 {
        font-size: 16px;
  
    }
    
    .project-img {
        width: 90%;
        height: auto;
    }


}
