@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Manrope:wght@300;500;700&display=swap');

/* * Body */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: auto;
    width: auto;
}


h2 {
    font-family: 'DM Sans', sans-serif;
}



a {
    font-family: 'DM Sans', sans-serif;
    
}
p {
    font-size: 1em;
    font-family: 'DM Sans', sans-serif;
}

li {
    font-family: 'DM Sans', sans-serif;
    list-style: none;
    
}

ul {
    font-family: 'DM Sans', sans-serif;
    color: white;
}
body {
    position: relative;
    /* background: rgba(233, 222, 111, .5); */
    background: white;
}
header {
    background: rgb(46,26,71);
    min-height: 50px;
    width: 100%;
}
button {
    font-family: 'DM-Sans', sans-serif !important;
}


.section-header {
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 70px;
    text-align: center;
    margin-top: 35px;
}

/* * Main container */

.container {
    height: 100vh;
    width: 100%;
    flex-direction: column;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

}

.container > section {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}


/* * starts intro div */

.container > .one {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    flex-direction: column;
    justify-items: center;
}

.one >  .title-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1;
    grid-row-start: 1;
    grid-gap: 2px;
    height: auto;
    width: auto;
    align-items: center;
    margin-top: 100px;
}

.title-div > .welcome-text {
    grid-column-start: 1;
    grid-column-end: 3;
    font-family: 'Manrope';
    font-weight: 700;
    color: rgba(0, 0, 0, .7);
    font-size: 70px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding: 0px;
    text-shadow: 4px 4px 7px rgba(0, 0, 0, .3);
    text-align: center;
    height: auto;
}

.title-div > .hand-shake {
    visibility: hidden;
    font-size: 170px;
    margin-left: 20px;
    grid-column-start: 3;
    animation: none;
    animation-iteration-count: 3;
    height: auto;
    width: auto;
    text-align: center;
}


.one > .sub-div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1;
    grid-gap: 2px;
    grid-row-start: 2;
    margin-top: 25px;
    height: auto;
    width: auto;
    align-items: center;
    margin-top: -10px;

}

.sub-div > .guest-question {
    font-weight: 400;
    color: rgba(0, 0, 0, .7);;
    margin-left: 0px;
    font-family: 'DM Sans', sans-serif;
    font-size: 32px;
    margin-top: 10px;
    width: auto;
    display: none;
    transition: display 2s;
    text-align: center;
}

.guest-input {
    display:none;
    transition: display 2s;
    transition-timing-function: ease-in-out;
    text-align: center;
    margin-left: -18px;

}


@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.one > .colors {
    display: none;
    flex-direction: row;
    grid-row-start: 3;
    justify-content: space-around;
    margin-left: 18px;
    margin-top: 10px;
    width: 100%;
    
}


.colors > button {
    background-color: transparent;
    outline: none;
    border: 1px solid black;
    padding: 10px;
    width: 15%;
    height: auto;
    font-family: 'DM Sans', sans-serif;

}

.colors > button:hover {
    color: palegoldenrod;
    cursor: pointer;
}

.one > .big-guest {
    visibility: hidden;
    font-size: 200px;
    text-align: center;
    margin-top: -30px;
    grid-row-start: 4;
    font-family: 'Manrope';
    background-image: -webkit-linear-gradient(#333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.guest-input > .guest-text {
    font-family: 'DM Sans';
    color: black;
    font: 20px normal;
    border: none;
    resize: none;
    margin-left: 18px;
    display: inline-block;
    background-color: rgb(108, 122, 137, 0.25);
    height: auto;
    width: auto;
    padding: 3px;

}

.enter-btn {
    color: black;
    font-family: 'Manrope';
    font: 20px normal;
    border: none;
    resize: none;
    display: inline-block;
    background-color: rgb(108, 122, 137, 0.25);
    height: auto;
    width: auto;
    padding: 3px;
}

span {
    opacity: 0;
    transition: all 0.7s step-end;
}
  
span.fade {
    opacity: 1;
}

.one > .done {
    visibility: hidden;
    padding: 10px;
    grid-row-start: 5;
    
}
.done > button {
    font-family: 'DM-Sans', sans-serif !important;
    background-color: transparent;
    outline: none;
    padding: 10px;
    min-width: 175px;
    background-color: lightcoral;

}

.done > button:hover {
    color: palegoldenrod;
    cursor: pointer;
}


.container > .about {
    display: none;
}


/* * Starts about div */

.about-header {
    text-align: center;
    grid-column-start: 2;
}


.about-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.about-container > .about-t {
    grid-column-start: 2;
    grid-row-start: 2;
    text-align: center;
    font-size: 35px;
    font-family: 'DM Sans';

}

.about-container > p {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    text-align: center;
    margin-top: 100px;
    font-size: 20px;
    margin-left: 35px;
    margin-right: 35px;

}

.projects > .project-div {
    visibility: visible;
    flex-direction: column;
    color: white;
    background-color: black;
    height: auto;
    padding: 50px;
    margin-top: 20px;

}

.project-div > .project-box {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    margin-top: 20px;
    justify-content: space-around;
 
}

.project-img {
    width: auto;
    max-height: 200px;
}

.project-table {
    text-align: center;
    max-width: 300px;
}


.img-container {
    grid-column-start: 2;
    margin-left: 13%;
}

.title-img {
    width: 500px;
    height: auto;
    border-radius: 69%;
}


.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 70px;
    justify-content: right;
    align-items: center;
    padding: 0 24px;
}


.nav-logo {
    font-size: 45px;
    color: white !important;
}

.nav-menu {
    display: flex;
    min-height: 50px;
    align-items: center;
    justify-content: right;
    gap: 40px;
    
}

.nav-branding {
    font-size: 2rem;
}

.nav-link {
    transition: 0.7s ease;
    color: white;
    text-decoration: none;
}


.nav-link:hover{
    color: paleturquoise;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display:block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: beige;
}

@media(max-width:768px){
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu {
        /* ^ Keeps navbar on screen while scrolling until a link is click */
        position: fixed;
        right: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: plum;
        width: 100%;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }
    .nav-menu.active {
        right: 0;
    }

}


/* .main-content {
    margin-left: 15%;
    margin-right: 15%;
    width: auto;
    position:relative;
    padding-top: 50px;
}

.main-content-about {
    width: auto;
    position:relative;
    padding-top: 50px;
    margin-left: 15%;
    margin-right: 15%;
}

#navbar {
    float: right;
    height: 25px;
    margin-right: 25px;
    margin-top: 14px;
}

#navbar, a {
    color: black;
}

#home-p {
    font-size: 16px;
    border-style: solid;
    border-color: black;
    padding: 5px;
    margin-left: 25%;
    margin-right: 25%;
    display: block;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#languages {
    text-align: center;
    margin-bottom: 20px;

}
#intro-section {
    text-align: center;
}
#title-pic {
    border-radius: 50%;
    border-style: solid;
    border-width: 10px;
    border-color: #9E768F;
}
.site-title {
    position: relative;
    float: left;
    height: 25px;
    margin-top: 7px;
    margin-left: 25px;
}
#intro-p {
    margin-left: 0%;
    margin-right: 10%;
    text-align: left;

}

#fav-things {
    height: auto;
    width: 100%;
    margin-left: 0%;
    margin-right: 10%;
    text-align: center;
    margin-bottom: 75px;
    position: static;
    padding: 10px;
    border-color:  rgba(0, 0, 0, .5);
    border-style: solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#fav-things, span {
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#handstands, #hiking, #music {
    height: 200px;
    width: 350px;
    margin-left: 50px;
    margin-right: 50px;
}

#github-div {
    position: static;
    margin-top: 10px;
}
#hobbies-div {
    position: static;
 
 }
 #games-div {
    position: static;
    text-align: center;
    display: block;
 }

 #games-table {
    margin-bottom: 50px;
 }

 #gametitle {
    text-align: center;
 }

 form {
    padding: 15px;
    background-color: white;
    font-style: italic;
    border-style: solid;
    font-weight: 900px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: static;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 100px;
 }
 #form-title {
    font-style: normal;
 }
#youtube-video {
    text-align: center;
}

 input[type=button] {
    color: black;
    background-color: rgb(225, 225, 225);
    padding: 5px;
    margin-top: 10px;
 }

 input[type=button]:hover {
    color: black;
    background-color: cadetblue;
    padding: 5px;
    cursor: pointer;
    background: #e6e6e6
 }
#submit-button {
    outline: none;
    margin-top: 10px;
    background: linear-gradient(#eee, #c0c0c09e);
    border-radius: 15%;
    border-style: solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

 input[type=text]:focus {
    color: black;
    background-color: lightblue;
    transition: 2s;
 }
 table, tr, th, td {
    position: static;
    width: "50%";
    border: solid;
    padding: 5px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 td img {
    width: 100px;
    height: 100px;
 }

 .game-art {
    width: 175px;
    height: 260px;

 }

 table {
    margin: auto;
 } */