@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: auto;
    width: auto;
}

h2 {
    font-family: 'DM Sans', sans-serif;
    text-decoration: underline;
}

h3 {
    font-family: 'DM Sans', sans-serif;
    text-decoration: underline;
    text-align: center;
    font-size: 30px;
    padding: 10px;
}


a {
    font-family: 'DM Sans', sans-serif;
    
}
p {
    font-size: 1em;
    font-family: 'DM Sans', sans-serif;
}

li {
    font-family: 'DM Sans', sans-serif;
    list-style: none;
    
}

ul {
    font-family: 'DM Sans', sans-serif;
    color: white;
}
body {
    position: relative;
    background: rgb(46,26,71);
}
header {
    background: rgb(46,26,71);
    min-height: 50px;
    width: 100%;
}
.container {
    display: flex;
    flex-direction: column;
}
.title  {
    font-family: 'Bowlby One';
    font-weight: 700;
    color: white;
    font-size: 200px;
    margin-top: -40px;
    margin-left: 18px;
    margin-bottom: 0px;
    padding: 0px;
    text-shadow: 4px 4px 7px rgba(0, 0, 0, .3);
}
.title-sub  {
    font-family: 'Bowlby One';
    font-weight: 400;
    color: white;
    font-size: 55px;
    margin-left: 20px;
    margin-top: -70px;
    text-shadow: 4px 4px 7px rgba(0, 0, 0, .3);
    text-align: left;
}


.navbar {
    display: flex;
    min-height: 70px;
    justify-content: right;
    align-items: center;
    padding: 0 24px;
}
.nav-menu {
    display: flex;
    min-height: 50px;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    
}

.nav-branding {
    font-size: 2rem;
}

.nav-link {
    transition: 0.7s ease;
    color: white;
}

.nav-link:hover{
    color: paleturquoise;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display:block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: beige;
}

@media(max-width:768px){
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu {
        /* ^ Keeps navbar on screen while scrolling until a link is click */
        position: fixed;
        right: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: plum;
        width: 100%;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }
    .nav-menu.active {
        right: 0;
    }

}
.project-div {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    color: white;
    background-color: black;
    height: auto;
    padding: 30px;
}

.project-box {
    display: flex;
    /* border: 3px solid black; */
    width: 100%;
    height: auto;
    flex-direction: row;
    margin-top: 20px;
 
}

.project-table {
    text-align: center;
}
.project-img {
    width: auto;
    height: 200px;
}


/* .main-content {
    margin-left: 15%;
    margin-right: 15%;
    width: auto;
    position:relative;
    padding-top: 50px;
}

.main-content-about {
    width: auto;
    position:relative;
    padding-top: 50px;
    margin-left: 15%;
    margin-right: 15%;
}

#navbar {
    float: right;
    height: 25px;
    margin-right: 25px;
    margin-top: 14px;
}

#navbar, a {
    color: black;
}

#home-p {
    font-size: 16px;
    border-style: solid;
    border-color: black;
    padding: 5px;
    margin-left: 25%;
    margin-right: 25%;
    display: block;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#languages {
    text-align: center;
    margin-bottom: 20px;

}
#intro-section {
    text-align: center;
}
#title-pic {
    border-radius: 50%;
    border-style: solid;
    border-width: 10px;
    border-color: #9E768F;
}
.site-title {
    position: relative;
    float: left;
    height: 25px;
    margin-top: 7px;
    margin-left: 25px;
}
#intro-p {
    margin-left: 0%;
    margin-right: 10%;
    text-align: left;

}

#fav-things {
    height: auto;
    width: 100%;
    margin-left: 0%;
    margin-right: 10%;
    text-align: center;
    margin-bottom: 75px;
    position: static;
    padding: 10px;
    border-color:  rgba(0, 0, 0, .5);
    border-style: solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#fav-things, span {
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#handstands, #hiking, #music {
    height: 200px;
    width: 350px;
    margin-left: 50px;
    margin-right: 50px;
}

#github-div {
    position: static;
    margin-top: 10px;
}
#hobbies-div {
    position: static;
 
 }
 #games-div {
    position: static;
    text-align: center;
    display: block;
 }

 #games-table {
    margin-bottom: 50px;
 }

 #gametitle {
    text-align: center;
 }

 form {
    padding: 15px;
    background-color: white;
    font-style: italic;
    border-style: solid;
    font-weight: 900px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: static;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 100px;
 }
 #form-title {
    font-style: normal;
 }
#youtube-video {
    text-align: center;
}

 input[type=button] {
    color: black;
    background-color: rgb(225, 225, 225);
    padding: 5px;
    margin-top: 10px;
 }

 input[type=button]:hover {
    color: black;
    background-color: cadetblue;
    padding: 5px;
    cursor: pointer;
    background: #e6e6e6
 }
#submit-button {
    outline: none;
    margin-top: 10px;
    background: linear-gradient(#eee, #c0c0c09e);
    border-radius: 15%;
    border-style: solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

 input[type=text]:focus {
    color: black;
    background-color: lightblue;
    transition: 2s;
 }
 table, tr, th, td {
    position: static;
    width: "50%";
    border: solid;
    padding: 5px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 td img {
    width: 100px;
    height: 100px;
 }

 .game-art {
    width: 175px;
    height: 260px;

 }

 table {
    margin: auto;
 } */